fastapi
uvicorn
python-dotenv

# Database
sqlalchemy
psycopg2-binary
supabase

# Auth
python-jose
passlib
bcrypt

# PDF
pymupdf
python-multipart

# RAG
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers

# LLM
langchain-groq
groq

# Data
pydantic
numpy

# HTTP
httpx
